.appLogo {
    height: 200px;
}

.wrapper {
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions {
    text-align: center;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}

.menuButtonWrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuButton {
    justify-content: flex-start !important;
    width: 200px;
    margin: 5px !important;
}